@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:400,700&family=PT+Serif:400,700');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	background: rgba(214, 201, 227, .85);
	font-weight: 400;
  font-family: "PT Serif";
}

h1 {
  font-size: 72px;
  margin-bottom: 0px;
  font-family: "PT Sans";
}

.banner img {
  max-width: 100%;
  height: auto;
}
/* navigation styles start here */

header {
  background: rgba(214, 201, 227, 1);
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: rgba(214, 201, 227, 1);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0 0 0 24px;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
  font-weight: bold;
}

.logo {
  align-self: center;
}

.logo img {
  height: 56px;
  width: 56px;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle-label:hover {
  cursor: pointer;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

/* ~ looks for any preceeding sibling. */
.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* ~ working below nav */
main {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto 0 auto;
}

.banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 1028px;
  width: 100%;
  padding: 18px;
}

.banner__text {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.banner__text p {
  font-size: 18px;
  margin-top: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 48px;
}

.content img {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  margin: 0 auto 0 auto;
}

.content__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
}

.content__text h2 {
  font-size: 48px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.content__text p {
  font-size: 18px;
  line-height: 28px;
  margin-top: 8px;
}

.content__text__buttons {
  display: flex;
  justify-content: left;
}

button {
  font-family: "PT Serif";
  background-color: #b98268;
  border-radius: 24px;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  width: 256px;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}

table {
  width: 100%;
  min-width: 180px;
  margin-top: 16px;
  text-align: left;
  font-size: 18px;
  border: 1px solid black;
}

td, th {
  border: 1px solid black;
}

th {
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#back {
  padding: 0 0 24px 24px;
}

#about .content__text {
  width: 100%;
}

#about .content__image {
  width: 100%;
  height: 100%;
  background-color: rgba(244, 227, 227, 100%);
  padding: 12px;
}

#services h2 {
  margin-bottom: 16px;
}

#services .content__text {
  width: 100%;
  margin-bottom: 0px;
}

#list-of-services {
  padding-inline-start: 0px;
  list-style-position: inside;
}

#list-of-services li {
  margin-bottom: 12px;
  font-size: 18px;
}

/* Tablet and Desktop navigation, and tablet stylings */
@media screen and (min-width: 768px) {
  .banner {
    padding: 36px;
    justify-content: left;
  }

  .banner__text {
    text-align: left;
  }

  h1 {
    font-size: 96px;
  }

  .banner__text p {
    font-size: 48px;
  }

  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
    align-self: center;
  }

  nav {
    all: unset; /*takes all styling off of the nav */
    grid-column: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav ul {
    display: flex;
    padding: 0;
  }

  nav li {
    margin-bottom: 0;
    margin-left: 2em;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a:hover {
    font-weight: 400;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #b98268;
    position: absolute;
    bottom: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }

  .content {
    display: flex;
    flex-direction: row;
    padding: 48px;
  }

  .content img {
    margin: 0;
    width: 50%;
    height: 50%;
  }

  .content__text {
    padding-right: 36px;
    text-align: left;
    align-items: start;
  }

  .content__text h2 {
    font-size: 48px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .content__text p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 8px;
  }


  #about .content__text {
    width: 50%;
  }

  #about .content__image {
    width: 50%;
    height: 50%;
    background-color: rgba(244, 227, 227, 100%);
    padding: 12px;
  }

  #about .content img {
    width: 100%;
    height: 100%;
  }

  table {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    padding: 72px;
  }

  h1 {
    font-size: 128px;
  }
}
